* {  margin: 0; padding: 0; border: 0;}
html, body{ height: 100%; }
body { background-color: #3D4143; overflow: hidden; color:#EEEEEE; font-family:Arial; font-size: 11px;}
canvas { position: absolute; top:0; left:0; pointer-events:auto; width:100%; height:100%; }
#button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide { display: none; }

.want-btn:hover { cursor: pointer; }
.want-btn {
  display: flex;
  position: relative;
  border-bottom: solid 6px #a5a9b1;
  border-right: solid 6px #e6e6e6;
}

.want-btn:before,
.want-btn:after {
  content: "";
  position: absolute;
  width: 0; height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
}
.want-btn:before { bottom: -6px; left: -1px; border-bottom-color:  #3D4143}
.want-btn:after { top: -1px; right: -6px;  border-right-color:  #3D4143}

.want-btn:active {
  border:none;
  -ms-transform: translate(6px,6px);
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);
}

.want-btn:active:after,.want-btn:active:before {
  content: none;
}
